/*{"background": "#faf8f6", "accent": "#916a56", "primary": "#312b2b"}*/

div {
    background-color: "#faf8f6";
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: "#faf8f6";
}

.app-title {
    color: #312b2b;
    text-align: center;
}